.home-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
}

.carousel-item {
    height: 100vh;
}

.carousel-control-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    margin-top: -23px;
    width: 47px;
    height: 47px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 9;
    cursor: pointer;
    &:hover {
        border: solid 2px #fff;
    }
}

.carousel-control-next {
    position: absolute;
    top: 50%;
    right: 2%;
    margin-top: -23px;
    width: 47px;
    height: 47px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 9;
    cursor: pointer;
    &:hover {
        border: solid 2px #fff;
    }
}

.main-text {
    position: absolute;
    top: 30%;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.input-block {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    margin: 0px;
    .input-main-block {
        width: 100%;
        padding: 15px 10px 15px 38px;
        border: solid 1px #b8b8b8;
        height: 50px;
        border-radius: 4px;
        background: #fff;
        line-height: 20px;
        font-size: 16px;
        color: #333;
    }
}

.text-center {
    h1 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    img {
        padding-bottom: 20px;
    }
}
.banner-search {
    min-width: 100%;
    padding: 10px 190px 10px 10px;
    position: relative;
    margin: 0px;
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    .input-block {
        float: left;
        width: 33.33%;
        padding: 0 0;
        margin: 0px;
        input {
            border-radius: 35px 0 0 35px;
            border: none;
            height: 70px;
            padding-top: 25px;
            padding-bottom: 25px;
            box-shadow: 0px 0px 0px;
            outline: none;
        }
    }
    .location {
        float: left;
        width: 33.33%;
        padding: 0 0;
        margin: 0px;
        input {
            border-radius: 0;
            border: none;
            height: 70px;
            padding-top: 25px;
            padding-bottom: 25px;
            box-shadow: 0px 0px 0px;
            outline: none;
            border-left: solid 1px #46282e;
            position: relative;
        }
    }
    .submit-block {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 181px;
        button {
            height: 70px;
            border-radius: 0 45px 45px 0;
            box-shadow: 0px 0px 0px;
            border: none;
            background: #e8436d;
            width: 100%;
        }
    }
}